body,
header {
	background: #fff;
}

footer {
	background: #E32112;
}

header button {
	height: 39px
}

#top-nav {
	border-bottom: 2px solid #E32112;
}

header .smalltext {
	text-align: right;
}

header #searchform {
	margin: 0;
}

header input.search {
	width: 67%;
}

button.generalSearch:hover {
	background: #585858;
	text-decoration: none;
}

.breadcrumb {
	border-bottom: 1px solid #F3F3F3;
}

.breadcrumb a {
	color: rgb(98,98,98);
}

#content {
	padding: 0;
	margin: 15px 0 0 0;
}

footer a,
#reskin_footer_menus li a:link, 
#reskin_footer_menus li a:visited, 
#reskin_footer_menus li,
#reskin_footer_strapline,
#copyrightinfo {
	color: #fff;
}

#reskin_footer_email_signup label {
	color: #A7A7A7;
	font-size: 26px;
	font-weight: bold;
}

#reskin_footer_email_signup p {
	text-align: center;
	margin: 2em 0;
}

.search-advice {
	margin-bottom: 4em;
	margin-top: 2em;
}

.search-advice h1 {
	font-size: 48px;
	line-height: 1;
	margin: 0;
	color: #666;
	font-weight: normal;
}

.search-advice input.search {
	width: 82%;
	font-size: 17px;
	line-height: 55px;
	height: 20px;
	padding: 15px;
	margin-right: 0;
}

.search-advice #searchform {
	margin-top: .5em;
}

.search-advice button {
	height: 55px;
}

.ac-container { 
	margin: 10px auto 30px auto;
}

.ac-container label {
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 37px;
	cursor: pointer;
	font-weight: bold;
	line-height: 37px;
	font-size: 22px;
	border: 1px solid #ccc;
	color: #007ab7;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after,
.ac-container label:after {
	content: '';
	position: absolute;
	width: 17px;
	height: 17px;
	right: 13px;
	top: 15px;
	background: transparent url(../images/sprite.png) no-repeat top;	
}

.ac-container input + label:hover,
.ac-container input:checked + label {
	background: #F3F3F3;
}

.ac-container input:checked + label:hover:after,
.ac-container input:checked + label:after {
	background-position: bottom;
}
 
.ac-container input{
	display: none;
}

.ac-container article {
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.ac-container article p {
	color: #777;
	line-height: 23px;
	font-size: 16px;
	padding: 0;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	margin: 20px 20px 10px 20px;
}

.ac-container article ul {
	padding: 0;
	margin: 1em 2em;
  list-style: none;
	position: relative;
	-moz-column-count: 2;
   -moz-column-gap: 20px;
   -webkit-column-count: 2;
   -webkit-column-gap: 20px;
   column-count: 2;
   column-gap: 20px;
}

#content-body ul {
	list-style-type: none;
	margin-bottom: 2em;
}

#content-body section {
	margin-bottom: 3em;
}

.ac-container article li,
#important-points li,
#content-body li { 
	margin: 5px 0;
	position: relative;
	padding-left: 18px;
}

.ac-container article li:before,
#important-points li:before,
#content-body li:before {
	content: "■ ";
	color: #E32112;
	position: absolute;
	left: 0;
	font-size: 12px;
}

.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.ac-container input:checked ~ article.ac-small{
	height: 250px;
}

.ac-container input:checked ~ article.ac-medium{
	height: 390px;
}

.ac-container input:checked ~ article.ac-large{
	height: 445px;
}

.ac-container input:checked ~ article.last{
	border-bottom: 1px solid #ccc;;
}
#reskin_footer_email_signup {
	border-top: 4px solid #e6e4dc;
	height: auto;
	margin: 60px 0 50px 0;
}

#reskin_footer_email_signup form {
	margin: 0 auto;
	width: 90%;
}

#footer_email_submit,
#footer_email_textbox {
	position: relative;
	padding: 0;
	height: auto;
	width: auto;
	top: 0;
	left: 0;
}

#footer_email_textbox {
	font-size: 22px;
	padding: 8px 11px;
	border: 3px solid #DFDFDF;
	width: 81.4%;
}

#footer_email_submit,
#content button {
	width: auto!important;
	background: #007AB7;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	font-family: "HelveticaNeue-CondensedBold","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 21px;
	padding: 9px 16px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 0;
}

#footer_email_submit:hover,
#content button:hover {
	background: #036799;
	text-decoration: none;
}

#title-advice {
	color: #E32112;
	font-size: 50px;
	margin-top: 30px;
}

.callout-box {
	background: #F0F3E9 url(../images/callouth.png) no-repeat right 15px bottom 15px;
	position: relative;
	padding: 20px 50px 20px 25px;
	margin: 115px 0 20px 0;
	font-size: 16px;
	font-weight: bold;
}

.callout-box h2 {
	line-height: 24px;
}

.callout-box p {
	margin: 0;
}

.callout-box:before {
	border-style: solid;
	border-width: 15px 26.0px 15px 0;
	line-height: 0px;
	_border-color: #F0F3E9 #F0F3E9 #F0F3E9 #F0F3E9;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#F0F3E9');
	-webkit-transform:rotate(360deg);
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-right-color: #F0F3E9;
	border-top: 0 solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 40px solid transparent;
	position: absolute;
	top: 10%;
	margin-top: 10px;
	left: -25px;
	z-index: 2;
}

.breadcrumb {
	padding: 0;
}

.breadcrumb a ul {
	-webkit-font-smoothing:antialiased;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.breadcrumb li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

.breadcrumb a {
    color: #666;
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
		border: 1px solid transparent;
	  z-index: 12;
	 margin-right: 0;
}

.breadcrumb .dropdown:after {
  content: ' ▶';
	font-size: 10px;
	display: inline-block;
	margin-left: 7px;
	width: 10px;
	padding: 0px 5px 0 5px;
	border: 1px solid #ccc;
}

.breadcrumb .dropdown:hover:after{
	content:'\25bc'
}

.breadcrumb li:hover .dropdown {
	border: 1px solid #ccc;
}

.breadcrumb li ul {
  float: left;
  left: 0;
	border: 1px solid #ccc;
  opacity: 0;
	background: #fff;
  position: absolute;
  top: 34px!important;
  visibility: hidden;
  z-index: 1;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

.breadcrumb li .sub-breadcrumb-small {
	width: 160px;
}

.breadcrumb li .sub-breadcrumb-large {
	width: 460px;
	height: 192px;
	-moz-column-count: 2;
   -moz-column-gap: 20px;
   -webkit-column-count: 2;
   -webkit-column-gap: 25px;
   column-count: 2;
   column-gap: 20px;
}

.breadcrumb li:hover ul {
  opacity: 1;
  top: 20px;
  visibility: visible;
}

.breadcrumb li ul {
	padding: 5px;
}

.breadcrumb li ul li {
  float: none;
  width: 100%;
}

.breadcrumb li ul a {
	color: #007ab7;
	padding: 5px 7px;
}

.breadcrumb li ul a:hover {
	background: #F3F3F3;
}

/* Clearfix */

.breadcrumb ul:after, .ul:before {
    content:"";
    display:table;
}
.breadcrumb .ul:after {
    clear:both;
}
.breadcrumb .ul {
    zoom:1;
}

#important-points {
	background: #DCE8ED url("../images/bg-important.png") no-repeat left;
	margin: 4em 0;
	padding: 2em 2em 2em 13.2em;
}

#important-points ul {
	margin: 0;
	list-style-type: none;
}

#sticky-menu {
	font-size: 14px;
	list-style-type: none;
}

#sticky-menu li {
	margin: 8px 0 23px 0;
	line-height: 18px;
	padding: 0;
}

#sticky-menu li a {
	color: #007ab7;
	display: block;
	padding: 0px 2px 0px 10px;
}

article #sticky-menu nav {
	background: none;
	padding: 0;
}

#sticky-menu li:hover,
article #sticky-menu li.active, 
article #sticky-menu li:hover {
	font-weight: bold;
	background: none;
}

#sticky-menu {
	margin: 0em -2em;
	text-align: right;
	width: 215px;
}

.scroll-nav.fixed .scroll-nav__wrapper {
	position: fixed;
	top: 60px;
	width: 215px;
}

.scroll-nav__heading {
	font-weight: bold;
	color: #C0C0C0;
	font-size: 12px;
}

@media only screen and (max-width: 990px) {
	#sticky-menu {
		display: none;
	}
	.callout-box:before {
		display: none	;
	}
	#important-points {
		padding: 2em 2em 2em 2.2em;
	}
}



